
body {
    font-family: sans-serif;
    color: wheat;
    text-align: center;
    background-image: url(image/B.jpg);
     }

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
              }